:root {
  --color-link: #3d6cd1;
  --color-link-hover: #89a6e3;
  --color-white: #f6f5f5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-link-hover);
}

body {
  display: flex;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  border-radius: 8px;
  border: 2px solid var(--color-link);
  padding: 0.6em 1.2em;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: var(--color-link-hover);
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* стили для авторизации */

.auth {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 0 1px var(--color-link-hover);
}

.auth__title {
  text-align: center;
}

.auth__form {
  display: grid;
  gap: 10px;
}

.authNameInput {
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--color-link);
  padding: 0.6em 1.2em;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;

  &:focus,
  &:active {
    border-color: var(--color-link-hover);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(48, 65, 220, 0.5);
  }
}

.auth__btn {
  justify-self: start;
}

.auth__link-reg {
  display: flex;
  justify-content: space-between;
}

/* -------------------- */
/* Qestions */
.question {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}

.question__list {
  list-style: none;
  margin: 0;
  padding: 0;
  // display: flex;
  // flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.question__item {
  margin: 10px;
  width: calc(33.33% - 20px);
}

.item-test {
  padding: 20px;
  border-radius: 20px;
  color: var(--color-white);
  background: linear-gradient(120deg, #60abd5 0%, #5687e4 100%);
}

.item-test__title {
  margin: 0;
}

.item-test__btn {
  border-color: var(--color-white);
  color: var(--color-white);
}

/* ----------- */


/* Test page */

.test-page {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
}

.conteiner-test__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.container-test__item {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: linear-gradient(120deg, #60abd5 0%, #5687e4 100%);
  color: var(--color-white);

}

.container-test_box-question {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(120deg, #60abd5 0%, #5687e4 100%);
  color: var(--color-white);
}

.container-test__question {
  font-size: 18px;
}

.container-test__list-question {
  display: grid;
  gap: 10px;
  margin-left: 30px;
}

.container-test__item-question {
  border-color: var(--color-white);
  color: var(--color-white);
}

/* ----------- */
#root {
  display: grid;
  width: 100%;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}